/*.custom-calendar {
  background-color: #1f1f1f;
  border-radius: 10px;
  color: white;
  padding: 10px;
}

.react-calendar__tile--active {
  background: #0d6dfd3e !important;
  color: white !important;
}*/
.turnero-container {
  padding-top: 4rem;
   display: flex;
  flex-direction: column;
  gap: 1.5rem; /* o el espacio que necesites */
}
.overlay-text {
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}
.custom-popup {
  background-color: #C9BBEB; /* fondo oscuro */
  color: #000000; /* texto blanco */
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.dia-disponible {
  background-color: #c8e6c9 !important; /* Verde clarito */
  border-radius: 50%;
  font-weight: bold;
  color: #2e7d32 !important;
}

.text-violet {
  color: #2d0055;
}
/* Calendario base */
.custom-calendar {
  background-color: #C9BBEB; /* fondo oscuro */
  color: #ffffff; /* texto claro */
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border: none;
}

/* Navegación (flechas y mes) */
.custom-calendar .react-calendar__navigation {
  background-color: #C9BBEB;
  border-radius: 8px;
  margin-bottom: 8px;
}

.custom-calendar .react-calendar__navigation button {
  color: #ffffff;
  background: none;
  border: none;
  font-weight: bold;
}

.custom-calendar .react-calendar__tile {
  background: none;
  border-radius: 8px;
  padding: 10px 0;
  transition: background-color 0.2s ease;
  color: #0c0c0c;
}

/* Hover y selección */
.custom-calendar .react-calendar__tile:hover {
  background-color: #404052;
}

.custom-calendar .react-calendar__tile--active,
.custom-calendar .react-calendar__tile--hasActive {
  background-color: #273849;
  color: #fff;
}

/* Días de semana */
.custom-calendar .react-calendar__month-view__weekdays {
  color: #fdfdfd;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: 5px;
}
